In [3]:
import pandas as pd

In [24]:
#market 2
c_= pd.read_json('raw_data/Market 2 Customers.json')
d_= pd.read_csv('raw_data/Market 2 Deliveries.csv')
o_= pd.read_csv('raw_data/Market 2 Orders.csv')

In [25]:
c_
c_['Created At'] = pd.to_datetime(c_['Created At'])

c_['Date_Created'] = c_['Created At'].dt.date
c_['Day_Created'] = c_['Created At'].dt.day_name()
c_['Month_Created'] = c_['Created At'].dt.month_name()
c_['Year_Created'] = c_['Created At'].dt.year
c_['Time_Created'] = c_['Created At'].dt.strftime('%I:%M:%S %p')

c_= c_.drop('Created At',axis=1)

In [26]:
d_.isnull().sum()
d_.info()
d_.drop(columns=['Tags','Notes'], inplace=True)
d_['Order_ID']
# Remove 'YR-' and ',0' from the values in the 'Order_ID' column
d_['Order_ID'] = d_['Order_ID'].str.replace('YR-', '').str.replace(',0', '')
d_['Order_ID'] = d_['Order_ID'].astype(int)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8019 entries, 0 to 8018
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Task_ID                8019 non-null   int64
 1   Order_ID               8019 non-null   object
 2   Relationship           8019 non-null   float64
 3   Team_Name              8019 non-null   object
 4   Task_Type              8019 non-null   object
 5   Notes                  6 non-null      object
 6   Agent_ID               8019 non-null   object
 7   Distance(m)            8019 non-null   object
 8   Total_Time_Taken(min)  8019 non-null   object
 9   Task_Status            8019 non-null   object
 10  Ref_Images             8019 non-null   object
 11  Rating                 8019 non-null   int64
 12  Review                 8011 non-null   object
 13  Latitude               8019 non-null   float64
 14  Longitude              8019 non-null   float64
 15  Tags                   0 non-null      float64
 16  Promo_Applied          8019 non-null   object
 17  Custom_Template_ID     8019 non-null   object
 18  Task_Details_QTY       8019 non-null   object
 19  Task_Details_AMOUNT    8019 non-null   object
 20  Special_Instructions   8018 non-null   object
 21  Tip                    8019 non-null   object
 22  Delivery_Charges       8019 non-null   object
 23  Discount               8019 non-null   object
 24  Subtotal               8019 non-null   object
 25  Payment_Type           8019 non-null   object
 26  Task_Category          8019 non-null   object
 27  Earning                8019 non-null   object
 28  Pricing                8019 non-null   object
dtypes: float64(4), int64(2), object(23)
memory usage: 1.8+ MB

In [27]:
o_
o_['Customer ID']
o_.isnull().sum()
o_.columns[o_.isnull().any()]
o_.drop(columns=['Cancellation Reason','Commission Payout Status','Commission Amount',
                       'Merchant Earning','Reviews','Ratings','Promo Code','Transaction Status','Customization Option','Customization Group'], inplace=True)

# Convert the 'Order_ID' column to integers, which will automatically remove the '.0' part
o_['Order ID'] = o_['Order ID'].astype(str)
# Remove the '0' from the end of each string in the 'Order_ID' column
o_['Order ID'] = o_['Order ID'].str.rstrip('.0')
o_['Order ID'] = o_['Order ID'].astype(int)
o_['Order ID']

#change Order ID to Order_ID
o_.rename(columns={'Order ID': 'Order_ID'}, inplace=True)
o_['Order_ID']

0       11262518
1       11262518
2       11261796
3       11261796
4       11261341
          ...
1424    10422797
1425    10422797
1426    10422634
1427    10422279
1428    10416692
Name: Order_ID, Length: 1429, dtype: int32

In [28]:
new_datarr = pd.merge(c_, o_, on='Customer ID', how = 'outer')

In [30]:
#new_data.info()
#new_data['Order_ID']
new_datarr = pd.merge(new_datarr, d_, on='Order_ID', how='outer')

In [127]:
new_datarr.to_csv('transformed_data/market2_data.csv', index = False)

In [31]:


# Check for duplicate column names
duplicate_columns = new_datarr.columns[new_datarr.columns.duplicated()]
if duplicate_columns.any():
    print("Duplicate columns found:", duplicate_columns)
else:
    print("No duplicate columns found.")

No duplicate columns found.

In [4]:
m1_customers = pd.read_json('raw_data/Market 1 Customers.json')
m1_deliveries = pd.read_csv('raw_data/Market 1 Deliveries.csv')
m1_orders = pd.read_csv('raw_data/Market 1 Orders.csv')

C:\Users\P R Y N S\AppData\Local\Temp\ipykernel_13796\1314186209.py:2: DtypeWarning: Columns (12,14,16,19,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  m1_deliveries = pd.read_csv('raw_data/Market 1 Deliveries.csv')

In [5]:
m1_customers.drop(columns=['Number of employees'], inplace=True)
m1_customers['Created At'] = pd.to_datetime(m1_customers['Created At'])

# Extract components
m1_customers['Date_Created'] = m1_customers['Created At'].dt.date
m1_customers['Day_Created'] = m1_customers['Created At'].dt.day_name()
m1_customers['Month Created'] = m1_customers['Created At'].dt.month_name()
m1_customers['Year_Created'] = m1_customers['Created At'].dt.year
m1_customers['Time-Created'] = m1_customers['Created At'].dt.strftime('%I:%M:%S %p')


m1_customers = m1_customers.drop('Created At',axis=1)

In [10]:
m1_deliveries.drop(columns=['Unnamed: 30','Unnamed: 31'], inplace=True)
m1_deliveries.drop(columns=['Tags'], inplace=True)

m1_deliveries['Order_ID'] = m1_deliveries['Order_ID'].str.replace('YR-', '').str.replace(',0', '')
m1_deliveries['Order_ID']

0        10691280
1        10691280
2         8221753
3         8133470
4         8133470
           ...
44978     9891023
44979     9890869
44980     9890869
44981     9890869
44982     9890869
Name: Order_ID, Length: 44983, dtype: object

In [12]:
m1_orders.drop(columns=['Cancellation Reason','Commission Payout Status','Commission Amount',
                       'Merchant Earning','Reviews','Ratings','Promo Code','Transaction Status','Customization Option','Customization Group'], inplace=True)

m1_orders['Order ID'] = m1_orders['Order ID'].astype(str)

m1_orders['Order ID'] = m1_orders['Order ID'].str.rstrip('.0')

m1_orders['Order ID'] = m1_orders['Order ID'].astype(int)

m1_orders.rename(columns={'Order ID': 'Order_ID'}, inplace=True)
m1_orders['Order_ID']

0        11265015
1        11264651
2        11264651
3        11264651
4        11264651
           ...
12237    10387712
12238    10387712
12239    10387273
12240    10387273
12241    10387273
Name: Order_ID, Length: 12242, dtype: int32

In [19]:
new_data = pd.merge(m1_customers, m1_orders, on='Customer ID', how = 'outer')
import numpy as np
new_data['Order_ID'] = new_data['Order_ID'].fillna('').astype(str).str.rstrip('.0')
new_data['Order_ID'] = new_data['Order_ID'].replace('', np.nan)


new_data = pd.merge(new_data, m1_deliveries, on='Order_ID', how='outer')

In [20]:
new_data.to_csv('transformed_data/market1_data.csv', index=False)

In [ ]:
new_data.columns()

:

In [22]:


# Check for duplicate column names
duplicate_columns = new_data.columns[new_data.columns.duplicated()]
if duplicate_columns.any():
    print("Duplicate columns found:", duplicate_columns)
else:
    print("No duplicate columns found.")

No duplicate columns found.

In [32]:
if new_data.columns.equals(new_datarr.columns):
    print("The column names are the same.")
else:
    print("The column names are different.")

if len(new_data.columns) == len(new_datarr.columns):
    print("The number of columns is the same.")
else:
    print("The number of columns is different.")

The column names are different.
The number of columns is different.